*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: helvetica;
    overflow: hidden;
    background: #000000;
}
.info {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 10;
  text-align: center;
  width: 100%;
}

.info h1 {
  font-size: 32px;
}

  .info p {
  margin-top: 8px;
  color: #ccc;
}